[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
.dotnet/
.dotnet_home/
.pycache/
*.csproj
*.sln
*.user
*.tmp
*.apk
*.aab
*.keystore
*.pdb
*.mdb
*.opendb
*.VC.db
test2_BurstDebugInformation_DoNotShip/